@import '../../sassStyles/_mixins.scss';
.home {
  .hero {
    position: relative;
    top: 0;
    left: 0;
    &-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  .food-wrapper {
    display: flex;
    width: 100%;

    .left {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 50%;
    }
  }
}

@include media(tablet) {
  .home {
    .content-wrapper {
      p {
      }
    }
  }
}

@include media(tablet, phone) {
  .home {
    .hero {
      &-logo {
        width: 150px;
      }
    }
  }
}
