@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';
.slider-home {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dodgerblue solid;
  width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999; // FIX Overlaps navbar mobile menu

  color: $white;
}
.home {
  margin: 0;
  // background-color: $white; // TA BORT

  .hero {
    position: relative;
    top: 0;
    left: 0;

    &-image {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  // TWO COLUMN CARD
  .card {
    background-color: $forestGreen;
    color: $white;

    &-link {
      margin-top: 2rem;
      font-size: 1.2rem;
    }
  }

  .subscribe {
    margin-top: 50px;
    margin-bottom: 50px;
    &__input {
      // width: 100%;
      // padding: toRem(15) toRem(100);
      width: 350px;
      height: 50px;
      border: none;
      font-size: toRem(14);
      letter-spacing: 1px;
      font-family: 'Untitled Sans';
      text-transform: uppercase;
      text-align: center;
      margin-right: toRem(14);

      &::placeholder {
        color: $black;
      }

      &:focus {
        outline: none;
      }
    }

    &__btn {
      width: 200px;
      height: 50px;
      // padding: toRem(15) toRem(60);
      border: none;
      background-color: $forestGreen;
      color: $white;
      font-family: 'Untitled Sans';
      font-size: toRem(14);
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover {
        background-color: $black;
      }
    }
  }
}

@include media(tablet) {
  .home {
    .content-wrapper {
      p {
      }
    }
  }
}

@include media(tablet, phone) {
  .home {
    .hero {
      &-logo {
        width: 150px;
      }
    }
  }
}
