@import '../../sassStyles/_mixins.scss';

.rooms {
  &__card-wrapper {
    margin: 0 10%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  &__card {
    align-items: center;
    background-color: $white;
    text-align: center;

    //FIX: hover effect changes on image??
    &:hover {
      background-color: $forestGreen;
      color: $white;
    }

    &-text {
      &__capacity {
        font-family: Untitled Sans;
        text-transform: uppercase;
      }

      // Hover on text => changes "button" link
      &:hover ~ a {
        background-color: $goatBeige;
        color: $forestGreen;
        // FIX add some nice transition
      }
    }

    a {
      &:hover {
        background-color: $goatBeige;
        color: $forestGreen;
      }
    }
  }
}

@include tablet {
  .rooms {
    &__card-wrapper {
      grid-auto-flow: row;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }
}
