@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';

.carousel {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__slider {
    width: 100%;
  }

  // SLIDE WRAPPERS
  .slide___3-Nqo {
    margin-right: 5%;
  }

  img {
    object-position: 100% 10%;
  }

  &__slide {
    background-color: $forestGreen;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 100px;

    &-text {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      h3 {
        font-size: toRem(51);
        margin-bottom: 0;
      }

      p {
        margin: 0;
        font-size: toRem(20);
        line-height: toRem(32);
      }

      a:hover {
        color: $sunnyYellow;
      }
    }

    &.snow-forecast {
      background-color: $bagnesBlue;
      color: $white;
    }
    &.gear {
      background-color: $sunnyYellow;
    }
    &.fwt {
      color: $signalRed;
    }

    &.concierge {
      background-color: $white;
      color: $signalRed;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 10%;
    display: block;
  }

  @include phone {
    h3 {
      font-size: toRem(18);
    }

    p {
      font-size: toRem(14);
      line-height: toRem(16);
      // display: none;
    }
  }
}
