@import '../../sassStyles/_mixins.scss';

.footer {
  display: flex;
  flex-direction: column;
  font-size: toRem(25);

  &-info {
    display: flex;
    flex-direction: column;
    font-family: Untitled Sans;
    text-transform: uppercase;
  }

  &-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }
}
