@import '../../sassStyles/_mixins.scss';

.goomah {
  &__nav {
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .hero-image {
  }

  .hero {
    height: calc(100vh - 50px);

    &-logo {
      width: 80%;
      height: auto;
    }
  }

  h1,
  h2 {
    font-family: Untitled;
    text-transform: none;
  }
  .font-sans {
    font-family: 'Untitled Sans';
  }

  &__about {
    display: flex;
    flex-direction: column;
    background-color: $signalRed;

    .mouth-logo {
      width: min(25vw, 300px);
      margin-top: 10%;
      animation: rotation 10s infinite linear;

      @keyframes rotation {
        from {
          transform: rotate(360deg);
        }
        to {
          transform: rotate(0deg);
        }
      }
    }

    p {
      font-style: normal;
    }

    a {
      text-decoration: underline;
      font-family: 'Untitled Sans';
      font-size: toRem(25);

      &:hover {
        // DO SOMETHING
      }
    }
  }

  &__book {
    background-color: $goomahBlue;
    color: $white;
  }

  &__monthly {
    background-color: $goatBeige;
    h2 {
      font-family: 'Untitled Sans';
      text-transform: uppercase;
    }

    &-ingredients {
      font-family: Untitled;
      text-transform: uppercase;
      font-size: toRem(36);
    }
  }

  &__menu {
    background-color: $goomahGreen;

    img {
      box-shadow: -40px 40px $forestGreen;
    }
  }

  &__soprano {
    background-color: $white;
    img {
      height: 400px;
      width: 300px;
    }
  }

  @include phone {
    &__menu {
      img {
        box-shadow: -20px 20px $forestGreen;
      }
    }
  }
}
