@import '../../sassStyles/_variables';

.dynamic-menu {
  ul {
    display: flex;
    list-style-type: none;
    border: 1px solid $black;

    li {
      border: 1px solid $black;
    }
  }
  &-btn {
    border: none;
  }
}
