@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';

.nav {
  display: flex;
  // align-items: center;
  border: 1px solid black;
  font-family: Untitled Sans;

  .season-picker {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $goomahBlue;
    align-self: center;
    position: relative;

    button {
      border: none;
      background: none;
      color: $black;
      font-family: Untitled;
      font-size: 1.5rem;

      &:first-child {
        margin-right: 2rem;
      }
    }
  }
  .menu-icon {
    align-content: center;
    border: 1px solid $goomahGreen;
    position: absolute;
    right: 2rem;
    svg {
      font-size: 2rem;
    }
  }

  &-menu {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    // z-index: 10;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    background-color: $white; // maybe opacity
    // border: 1px solid black;

    &.expanded {
      .menu-icon {
        top: 0;
        right: 2rem;
      }
      display: flex;
    }
  }

  &-logo {
    position: absolute;
    top: 0;
    margin-top: 2rem;

    &.hidden {
      display: none;
    }

    img {
      height: 4rem;
    }
  }

  ul {
    list-style-type: none;

    li {
      margin: 0;
    }

    .nav-links {
      margin-right: 1rem;
      text-decoration: none;
      color: $black;

      &.active {
        text-decoration: underline;
      }

      &.inactive:hover {
        color: $bagnesBlue;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

@include media(desktop, tablet) {
  .nav {
    margin: 0 5rem;
    flex-direction: column;

    &-menu {
      position: relative;
      display: flex;
      font-size: 1rem;

      .nav-logo {
        position: relative;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .green-btn:hover {
          background-color: $black;
        }
      }
    }
    .menu-icon {
      visibility: hidden;
    }
  }
}
