@import '../../sassStyles/_mixins';

.activities {
  &_card {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &-text,
    &-image {
      flex: 1 0 calc(25% - 10px);

      &:after {
        content: '';
        display: block;
        // padding-bottom: 100%;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10%;

      &.Caffè {
        background-color: $signalRed;
      }

      &.Burgers {
        background-color: $black;
        color: $white;
      }

      &.winter {
        &.Trails {
          background-color: $forestGreen;
          color: $white;
        }

        &.Gear {
          background-color: $bagnesBlue;
          color: $white;
        }

        &.Heliski {
          background-color: $sunnyYellow;
        }
      }

      &.summer {
        &.Trails {
          background-color: $sunnyYellow;
        }

        &.Gear {
          background-color: $bagnesBlue;
        }

        &.Lorem {
          background-color: $forestGreen;
          color: $white;
        }
      }
    }

    &-image {
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include media(tablet, phone) {
  .activities {
    &_card {
      padding-bottom: 5%;
      &-text,
      &-image {
        flex: 1 0 100%;
      }

      &-text {
        padding: 5%;
      }

      &-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include tablet {
  .activities_card {
    &-text,
    &-image {
      height: 450px;
      width: 450px;
    }
  }
}
