@import '../../sassStyles/_mixins';

.activity-component {
}
.activities {
  margin: 0 10%;

  .card {
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    padding-bottom: 5%;

    &__text {
      &.Caffè {
        background-color: $signalRed;
      }

      &.Burgers {
        background-color: $black;
        color: $white;
      }

      &.winter {
        &.Ride {
          background-color: $forestGreen;
          color: $white;
        }

        &.Gear {
          background-color: $bagnesBlue;
          color: $white;
        }

        &.Heliski {
          background-color: $sunnyYellow;
        }
      }

      &.summer {
        &.Hike {
          background-color: $sunnyYellow;
        }

        &.Trails {
          background-color: $bagnesBlue;
        }

        &.Lorem {
          background-color: $forestGreen;
          color: $white;
        }
      }
    }
  }
}

@include media(tablet, phone) {
  .activities {
    margin: 0 5px;
  }
}
