@import '../../sassStyles/_mixins.scss';

.gallery {
  margin: 0 10%;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 345px));
    justify-content: center;
    gap: 20px;

    @include media(tablet) {
      gap: 3px;
    }
  }

  &-item {
    // align-items: center;
    // text-align: center;

    // width: 32%;
    // margin-bottom: 2%; /* (100-32*3)/2 */
    // position: relative;
    margin: 0;
    position: relative;
    display: block;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

@include media(phone) {
  .gallery {
    margin: 0;
    &-wrapper {
      // grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      gap: 1px;
    }
  }
}
